body{
    margin: 0 auto;
    max-width: 1120px;
    font-family: "Poppins", sans-serif;
    background-color: #282828;
}

.headerproj{
    background-color: black
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 30px 15px; /*Deixa a box do header mais larga*/
}

.cabecalho .logo{ /*Para ser mais específico*/
    color: chocolate;
    border-radius: 50%;
    border: 6px white solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.2s;
}

.cabecalho a:hover .logo{
    color: yellow;
    border: 10px solid black;
    border-radius: 50%;

}

.cabecalho .header-separation ul{
    background: white;
}

.cabecalho .container-header-separation .header-separation .headerproj li{
    color: red;
}

.cabecalho .container-header-separation .header-separation .headerproj li a:hover{
    background-repeat: repeat; /*idk*/
}





/*icons*/
.fab{
    border: 2px black solid;
    border-radius: 50%;
    color: white;
}

li::marker{
    justify-content: center;
}