body{
    background-color:antiquewhite
}

.cabecalho{
    background-color: blue;
    border-radius: 5px;
    float: center;
}

.logo{
    color: chocolate;
}

.headerproj{
    color: chocolate;
    font-family: 'Courier New', Courier, monospace;
}

.header-separation{
    background-color:brown;
    border-radius: 5px;
}




/*icons*/
.fab{
    border: 2px black solid;
}

li{
    justify-content: center;
}

li::marker{
    display: hidden;
}